@page "/Orderrecieved"
@model NETCoreSSO.OrderRecModel
@{
    ViewData["Title"] = "Order Recieved";
}
    <body>
        <p class="display-3">We have recieved your order.</p>
        <p class="display-4">We will process your oder shortly, and you can click <a href="/">here to return to home.</a></p>
    </body>
